.fast_order_center_change_order_show_tree {
  @include o-form-sheet-negative-margin;

  td, th, div, span, p, input, button {
    vertical-align: middle !important;
    white-space: normal !important;
    overflow-wrap: break-word !important;
  }

  .table > :not(caption) > * > * {
    box-shadow: none;
  }

  .record-qty_zero {
    background-color: rgba(228, 67, 63, 0.15) !important;
    color: rgb(228, 67, 63) !important;
  }

  .sequence {
    width: 3%;
    text-align: center !important;
  }

  .style {
    width: 6%;
    text-align: center !important;
  }

  .color {
    width: 4%;
    text-align: start !important;
  }

  .color-th {
    text-align: center !important;
  }

  .size-name {
    font-weight: bold !important;
  }

  .size-name::after {
    content: ":";
    padding-right: 5px !important;
  }

  .size-done-qty::before {
    content: ":";
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .size-undone-qty::before {
    content: ":";
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .order_line {
    text-align: start !important;
    width: calc(100% - 3% - 6% - 4% - 9%) !important;

    .order_line_content {
      display: flex;
      width: 100%;

      > div:first-child {
        margin-left: 3px !important;
      }

      > div {
        width: calc(100% / 7) !important;
        padding-right: 10px;

        input {
          display: inline-block !important;
          width: 70%;
        }

        .size_name {
          text-align: end;
          display: inline-block;
          width: 30% !important;
        }

        .size_name::after {
          content: ":";
          padding-right: 5px !important;
          padding-left: 5px !important;
        }
      }
    }
  }

  .change {
    width: 9%;
    text-align: center;

    input {
      border: none;
      color: cornflowerblue;
      background-color: inherit;
    }
  }

  .foot-total {
    text-align: center !important;
    color: #FFFFFF !important;
    font-weight: bold;
  }

  .empty-content {
    text-align: center !important;
    min-height: 50px !important;
    font-size: 30px !important;
    font-weight: bold !important;
  }

  td, th {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    box-sizing: border-box;
    height: 25px;
  }

  .thead-cus-style-tr th {
    padding: 0 !important;
    font-weight: bold !important;
  }

  .footer-cus-style-tr td {
    padding: 0 !important;
    background-color: #e9ecef;
    font-weight: bold !important;
    text-align: center !important;
  }

  .tbody-cus-style-tr td {
    padding: 0 !important;
  }

  .ui-sortable tr:nth-child(even) {
    background-color: #ffffff !important;
  }

  .ui-sortable tr:nth-child(odd) {
    background-color: #f9f9f9 !important;
  }

  .ui-sortable tr:hover {
    background-color: #f5f5f5 !important;
  }

  input {
    cursor: pointer;
  }

  .chargeback-input {
    padding-top: 0 !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
  }
}