@media (min-width: 1200px) {
  .modal-extra-modal-max-55 {
    max-width: 55%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-60 {
    max-width: 60%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-65 {
    max-width: 65%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-70 {
    max-width: 70%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-75 {
    max-width: 75%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-80 {
    max-width: 80%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-85 {
    max-width: 85%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-90 {
    max-width: 90%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}

@media (min-width: 1200px) {
  .modal-extra-modal-max-95 {
    max-width: 95%;

    .modal-content {
      margin-top: 0 !important;
    }
  }
  iframe.h-100 {
    height: 100vh !important;
  }
}


@media (max-width: 992px) {
  .modal-extra-modal-max-55,
  .modal-extra-modal-max-60,
  .modal-extra-modal-max-65,
  .modal-extra-modal-max-70,
  .modal-extra-modal-max-75,
  .modal-extra-modal-max-80,
  .modal-extra-modal-max-85,
  .modal-extra-modal-max-90,
  .modal-extra-modal-max-95 {
    max-width: 800px;

    .modal-content {
      margin-top: 0 !important;
    }

    iframe.h-100 {
      height: 100vh !important;
    }
  }
}

