.o_list_record_selector_cus{
  width: 60px !important;
  //min-width: 4% !important;
  //max-width: 8% !important;
  text-align: center;
  //vertical-align: middle !important;
  //padding: 0 !important;
  font-weight: bold !important;
}

.o_list_record_selector {
  width: 40px !important;
}

.o_handle_cell{
  width: 30px !important;
}